.body{
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: auto;
    
}
.login{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 2rem;
    width: 300px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 1rem;
    padding: 5%;
}
.logo{
    padding-left: 3rem;
    padding-right: 3rem;
}
.button{
    align-self: stretch;
    border-color: #4F16E0;
    background: linear-gradient(127.54deg, #4F16E0 22.25%, #8F11A8 81.87%);
    
}
.description{
    margin-bottom: 1rem;
}
.form-control{
    border-color:  #a48fa8 ;
}
.form-control:focus{
    border-color: #8F11A8;
    box-shadow: 0 0 0 0.05rem #7347e4;
}
.link{
    align-self: center;
    color: #4F16E0;
}
